/* tweet用コードフェンス */
pre[data-language="tweet"],
pre.language-tweet,
code.language-tweet {
  white-space: pre-wrap;
  word-break: break-word;
  background: #f7f9fa;
  border-left: 4px solid #1da1f2;
  padding: 0.8em 1em;
  font-family: sans-serif;
  font-size: 0.95em;
  line-height: 1.5;
  margin: 1em 0;
}
